header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 60px;
  background: #565656;
  color: white;
  padding: 10px 30px;
}

header h1 {
  padding: 0;
  margin: 0;
}

main {
  margin: 70px auto 50px;
  width: 95%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #565656;
  color: #bbb;
  font-size: .6em;
  padding: 5px;
}

.dayFinished {
  max-width: 600px;
  padding: 5px 20px;
  margin: 0 auto;
}

.dayFinished .green {
  display: inline-block;
  background: #565656;
  text-align: center;
  color: #5e5;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border-radius: 50%;
}

.dayFinished p {
  font-size: 1.5em;
}

.addLogLine {
  background: #969696;
  border: 2px solid #565656;
  border-radius: 10px;
  color: white;
  max-width: 600px;
  padding: 5px 20px;
  margin: 0 auto;
}

.fieldGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

label {
  font-size: 1.25em;
}

input {
  padding: 10px;
  border-radius: 10px;
  font-size: 2.5em;
  width: 40%;
  text-align: center;
  background: #eee;
}

input:focus {
  border: 3px solid #565656;
  background: white;
}

.buttonGroup {
  display: flex;
  padding: 10px 0;
}

button {
  flex: 1;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
}

button:visited,
button:focus {
  outline: 0;
}

button[type="submit"] {
  background: #767676;
  border: 1px solid #5e5;
  color: white;
  margin-left: 10px;
}

button[type="submit"]:hover,
button[type="submit"]:active {
  background-color: #567656;
  cursor: pointer;
}

button[type="reset"] {
  background: #767676;
  border: 1px solid #faa;
  color: white;
  margin-right: 10px;
}

button[type="reset"]:hover,
button[type="reset"]:active {
  background-color: #a67676;
  cursor: pointer;
}

button .green {
  color: #5e5;
}

button .red {
  color: #faa;
}

.logTable {
  max-width: 600px;
  padding: 5px 20px;
  margin: 20px auto 0;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.totalAmount small {
  text-transform: uppercase;
  font-size: .5em;
  color: #999;
}

.grayText {
  font-size: 1.4em;
  font-weight: bold;
  color: #999;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.25em;
}

thead {
  border-bottom: 3px solid #565656;
  text-align: left;
}

th, td {
  padding: 7px 0;
}

.pending {
  background: #eee;
  color: #999;
}

button.remove {
  background: none;
  border: 0;
  color: #888;
  font-size: 1.1em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

button.remove:hover,
button.remove:active {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.bottomButton {
  background: #868686;
  border: 2px solid #565656;
  color: white;
  margin-top: 40px;
  font-size: 1.25em;
  font-weight: normal;
}

.bottomButton:hover,
.bottomButton:active {
  background: #565656;
  cursor: pointer;
}